<main class="main">
  <div class="search-wrapper">
    <form action="/artist-search" method="GET" class="search">
      <input type="text" class="search__input" name="term">
      <button class="btn">Search for an Artist</button>
    </form>
  </div>
</main>